<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Practice 1 - Group 3</span>
  </div>
</nav>
<div class="container">
  <div class="row my-4 ml-1">
    <h4>System Information</h4>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>Total RAM</th>
              <td>{{ totalRam }}</td>
            </tr>
            <tr>
              <th>Used RAM</th>
              <td>{{ usedRam }}</td>
            </tr>
            <tr>
              <th>RAM in use</th>
              <td>{{ ramPercentage }}</td>
            </tr>
            <tr>
              <th>CPU in use</th>
              <td>{{ cpuPercentage }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div>
        <div style="display: block">
          <canvas
            baseChart
            [datasets]="chartData"
            [options]="chartOptions"
            chartType="line"
            [labels]="chartLabels"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4 ml-1">
    <h4>Processes</h4>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-light table-borderless">
        <tbody>
          <tr>
            <th>Total</th>
            <td>269</td>
            <th>Running</th>
            <td>3</td>
          </tr>
          <tr>
            <th>Sleeping</th>
            <td>206</td>
            <th>Stopped</th>
            <td>6</td>
          </tr>
          <tr>
            <th>Idle</th>
            <td>59</td>
            <th>Disk Sleep</th>
            <td>6</td>
          </tr>
          <tr>
            <th>Zombie</th>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-dark table-borderless">
        <thead>
          <tr>
            <th scope="col">PID</th>
            <th scope="col">Name</th>
            <th scope="col">State</th>
            <th scope="col">User</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ps aux</td>
            <td>I(idle)</td>
            <td>ubuntu</td>
            <td><button type="button" class="btn btn-danger">Stop</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>ps aux | grep "yes"</td>
            <td>I(idle)</td>
            <td>ubuntu</td>
            <td><button type="button" class="btn btn-danger">Stop</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>free -m</td>
            <td>S(Sleeping)</td>
            <td>root</td>
            <td><button type="button" class="btn btn-danger">Stop</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
