<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Practice 1 - Group 3</span>
  </div>
</nav>
<div class="container">
  <div class="row my-4 ml-1">
    <h4>System Information</h4>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-dark table-borderless">
          <tbody>
            <tr>
              <th>Total RAM</th>
              <td>{{ totalRam }}</td>
            </tr>
            <tr>
              <th>Used RAM</th>
              <td>{{ usedRam }}</td>
            </tr>
            <tr>
              <th>RAM in use</th>
              <td>{{ ramPercentage }}</td>
            </tr>
            <tr>
              <th>CPU in use</th>
              <td>{{ cpuPercentage }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div>
        <div style="display: block">
          <canvas
            baseChart
            [datasets]="chartData"
            [options]="chartOptions"
            chartType="line"
            [labels]="chartLabels"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4 ml-1">
    <h4>Processes</h4>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-light table-borderless">
        <tbody>
          <tr>
            <th>Total</th>
            <td>{{ this.processes.length }}</td>
            <th>Running</th>
            <td>{{ running }}</td>
          </tr>
          <tr>
            <th>Sleeping</th>
            <td>{{ sleeping }}</td>
            <th>Stopped</th>
            <td>{{ stopped }}</td>
          </tr>
          <tr>
            <th>Idle</th>
            <td>{{ idle }}</td>
            <th>Zombie</th>
            <td>{{ zombie }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-dark table-borderless">
        <thead>
          <tr>
            <th scope="col">PID</th>
            <th scope="col">FPID</th>
            <th scope="col">Name</th>
            <th scope="col">State</th>
            <th scope="col">User</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let process of processes">
            <th scope="row">{{ process.pid }}</th>
            <th>{{ process.padre }}</th>
            <td>{{ process.nombre }}</td>
            <td>{{ process.estado }}</td>
            <td>
              {{
                process.user === 1000
                  ? "ubuntu"
                  : process.user === 0
                  ? "root"
                  : process.user
              }}
            </td>
            <td><button type="button" class="btn btn-danger">Stop</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
